.note {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid;
  border-left: 3px solid;
  border-top-color: var(--clr-color-neutral-400, #cccccc);
  border-right-color: var(--clr-color-neutral-400, #cccccc);
  border-bottom-color: var(--clr-color-neutral-400, #cccccc);
  border-radius: 5px;
  white-space: normal;

  .note-title {
    cds-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
    }
    color: black;
    font-weight: bold;
  }

  .note-content {
    padding-left: 10px;
  }

  &.info {
    border-left-color: #54cbf2;
  }

  &.caution {
    border-left-color: #f0ad4e;
  }

  &.warning {
    border-left-color: var(--clr-color-danger-500, red);
  }

  &.task {
    border-left-color: var(--clr-color-success-500, green);
  }
}
