<p>
  Under Construction. But once finished, this should contain several Courses
  that can bee explored, but no Scenarios can be started. Also the Courses
  should be connected by Tags and the Page should have a Search. Maybe have one
  "Hero Card" on Top for whatever Topic we want to push and the rest as all the
  other Courses.
</p>

<form clrForm>
  <input
    style="width: 75%"
    clrInput
    placeholder="Search (Not doing anything atm)"
    name="input"
    [(ngModel)]="input"
  />
</form>

<div class="clr-row" style="width: 75%; margin-left: 10vw">
  <ng-container *ngFor="let course of catalog">
    <div class="clr-col-lg-4" *ngIf="matchesSearch(course.name)">
      <app-course-card [course]="course"></app-course-card>
    </div>
  </ng-container>
</div>
