<form class="quiz-form" clrForm [formGroup]="quizForm">
  <clr-checkbox-container [class.clr-error]="quizForm.invalid && isSubmitted">
    <label>{{ title }}</label>
    <clr-checkbox-wrapper
      formArrayName="quiz"
      *ngFor="let optionTitle of optionTitles; let i = index"
    >
      <input type="checkbox" clrCheckbox [formControlName]="i" />
      <label>
        <quiz-label
          [optionTitle]="optionTitle"
          [hasCorrectOptionClass]="hasCorrectOptionClass(i)"
          [hasIncorrectOptionClass]="hasIncorrectOptionClass(i)"
        ></quiz-label>
      </label>
    </clr-checkbox-wrapper>
  </clr-checkbox-container>
  <quiz-body
    [helperText]="helperText"
    [isValid]="validSubmission"
    [isSubmitted]="isSubmitted"
    [validationEnabled]="validationEnabled"
    [errMsg]="errMsg"
    [successMsg]="successMsg"
  ></quiz-body>
</form>
