<pre class="quiz-container">
  <h5 class="quiz-title">{{ quizTitle }}</h5>
  @for (question of questions; track question; let i = $index) {
    @if (getQuestionType(question, questionParams[i].questionType) === 'checkbox') {
      <quiz-checkbox #quizCheckbox
        [options]="getOptions(question)"
        [helperText]="questionParams[i].helperText"
        [title]="questionParams[i].questionTitle"
        [validation]="questionParams[i].validation"
        [errMsg]="questionParams[i].errorMsg"
        [successMsg]="questionParams[i].successMsg"
        [shuffle]="questionParams[i].shuffle"
      ></quiz-checkbox>
    } @else if (getQuestionType(question, questionParams[i].questionType) === 'radio') {
      <quiz-radio #quizRadio
        [options]="getOptions(question)"
        [helperText]="questionParams[i].helperText"
        [title]="questionParams[i].questionTitle"
        [validation]="questionParams[i].validation"
        [errMsg]="questionParams[i].errorMsg"
        [successMsg]="questionParams[i].successMsg"
        [shuffle]="questionParams[i].shuffle"
      ></quiz-radio>
    }
  }
  <div class="button-container">
    <button
      [disabled]="allowedAtts < 1 || isSubmitted"
      class="btn btn-success-outline submit-button"
      type="submit"
      (click)="submit()"
    >
    Submit
    </button>
    <button
      [disabled]="allowedAtts < 1 || !isSubmitted"
      class="btn btn-outline reset-button"
      (click)="reset()"
    >
    Reset
    </button>
  </div>
  <span class="clr-subtext">Allowed attempts left: {{ allowedAtts }}</span>
</pre>
