pre {
  display: flex;
  flex-direction: column;
}
form {
  display: inherit;
  flex-direction: column;
}
clr-checkbox-container {
  flex-direction: column !important;
  margin-top: 0;
}

.quiz-question-title {
  white-space: wrap;
  width: calc(100% - 40px) !important;
  margin-bottom: 10px;
  max-width: 100%;
}
