pre {
    display: flex;
    flex-direction: column;
}
form {
    display: inherit;
    flex-direction: column;
}
.submit-button {
    align-self: flex-start;
}
clr-checkbox-container {
    flex-direction: column !important;
    margin-top: 0;
}
.clr-subtext {
    margin-bottom: 0.3rem;
}
