<pre>
    <form clrForm [formGroup]="quizForm" (ngSubmit)="submit()">
        <clr-checkbox-container>
            <label>{{ title }}</label>
            <clr-checkbox-wrapper formArrayName="quiz" *ngFor="let optionTitle of optionTitles; let i = index">
                <input type="checkbox" clrCheckbox [formControlName]="i" />
                <label>{{ optionTitle }}</label>
            </clr-checkbox-wrapper>
        </clr-checkbox-container>
        <quiz-body
            [helperText]="helperText"
            [isValid]="quizForm.valid"
            [isSubmitted]="isSubmitted"
        ></quiz-body>
    </form>
</pre>
