<ng-container>
  @if (!isSubmitted && helperText !== '') {
    <span class="clr-subtext">{{ helperText }}</span>
  }
  @if (validationEnabled && isSubmitted && !isValid && errMsg !== '') {
    <clr-alert
      [clrAlertType]="'danger'"
      [clrAlertClosable]="false"
      [clrAlertSizeSmall]="true"
    >
      <clr-alert-item>
        <span class="alert-text">{{ errMsg }}</span>
      </clr-alert-item>
    </clr-alert>
  }
  @if (validationEnabled && isSubmitted && isValid && successMsg !== '') {
    <clr-alert
      [clrAlertType]="'success'"
      [clrAlertClosable]="false"
      [clrAlertSizeSmall]="true"
    >
      <clr-alert-item>
        <span class="alert-text">{{ successMsg }}</span>
      </clr-alert-item>
    </clr-alert>
  }
</ng-container>
