<ng-container>
  <span class="clr-subtext" *ngIf="!isSubmitted">{{ helperText }}</span>
  <clr-alert
    [clrAlertType]="'danger'"
    [clrAlertClosable]="false"
    [clrAlertSizeSmall]="true"
    *ngIf="isSubmitted && !isValid"
  >
    <clr-alert-item>
      <span class="alert-text"> Incorrect Answer! </span>
    </clr-alert-item>
  </clr-alert>
  <clr-alert
    [clrAlertType]="'success'"
    [clrAlertClosable]="false"
    [clrAlertSizeSmall]="true"
    *ngIf="isSubmitted && isValid"
  >
    <clr-alert-item>
      <span class="alert-text"> Correct Answer! </span>
    </clr-alert-item>
  </clr-alert>
  <button
    class="btn btn-primary submit-button"
    type="submit"
    [disabled]="isSubmitted"
  >
    Submit
  </button>
</ng-container>
