<form clrForm [formGroup]="quizForm">
  <clr-radio-container [class.clr-error]="quizForm.invalid && isSubmitted">
    <label>{{ title }}</label>
    @for (opt of questionAnswers; track opt; let i = $index) {
      <clr-radio-wrapper>
        <input
          type="radio"
          clrRadio
          name="quiz"
          [value]="isPersistent ? (opt.id || i) : i"
          formControlName="quiz"
        />
        <label>
          <quiz-label
            [optionTitle]="opt.title"
            [hasCorrectOptionClass]="hasCorrectOptionClass(i)"
            [hasIncorrectOptionClass]="hasIncorrectOptionClass(i)"
          ></quiz-label>
        </label>
      </clr-radio-wrapper>
    }
  </clr-radio-container>
  <quiz-body
    [helperText]="helperText"
    [isValid]="validSubmission"
    [isSubmitted]="isSubmitted"
    [isPending]="isPending"
    [validationEnabled]="validationEnabled"
    [errMsg]="errMsg"
    [successMsg]="successMsg"
  ></quiz-body>
</form>
