<form clrForm [formGroup]="quizForm">
  <clr-radio-container [class.clr-error]="quizForm.invalid && isSubmitted">
    <label>{{ title }}</label>
    <clr-radio-wrapper *ngFor="let optionTitle of optionTitles; index as i">
      <input
        type="radio"
        clrRadio
        name="quiz"
        [value]="i"
        formControlName="quiz"
      />
      <label>
        <span
          [ngClass]="{
            'correct-option': hasCorrectOptionClass(i),
            'incorrect-option': hasIncorrectOptionClass(i),
          }"
          >{{ optionTitle }}</span
        >
        <cds-icon
          *ngIf="hasCorrectOptionClass(i)"
          shape="success-standard"
          status="success"
          solid="true"
        ></cds-icon
        ><cds-icon
          *ngIf="hasIncorrectOptionClass(i)"
          shape="exclamation-circle"
          status="danger"
          solid="true"
        ></cds-icon>
      </label>
    </clr-radio-wrapper>
  </clr-radio-container>
  <quiz-body
    [helperText]="helperText"
    [isValid]="validSubmission"
    [isSubmitted]="isSubmitted"
    [validationEnabled]="validationEnabled"
    [errMsg]="errMsg"
    [successMsg]="successMsg"
  ></quiz-body>
</form>
