<form class="quiz-form" clrForm [formGroup]="quizForm">
  <clr-checkbox-container [class.clr-error]="quizForm.invalid && isSubmitted">
    <label>{{ title }}</label>
    @for (opt of questionAnswers; track opt; let i = $index) {
      <clr-checkbox-wrapper formArrayName="quiz">
        <input clrCheckbox type="checkbox" [formControlName]="i" />
        <label>
          <quiz-label
            [optionTitle]="opt.title"
            [hasCorrectOptionClass]="hasCorrectOptionClass(i)"
            [hasIncorrectOptionClass]="hasIncorrectOptionClass(i)"
          ></quiz-label>
        </label>
      </clr-checkbox-wrapper>
    }
  </clr-checkbox-container>
  <quiz-body
    [helperText]="helperText"
    [isValid]="validSubmission"
    [isSubmitted]="isSubmitted"
    [isPending]="isPending"
    [validationEnabled]="validationEnabled"
    [errMsg]="errMsg"
    [successMsg]="successMsg"
  ></quiz-body>
</form>
