<details
  [ngClass]="task?.success ? 'greenBorder' : 'redBorder'"
  (toggle)="detailsOpen = !detailsOpen"
>
  <summary class="flex-container">
    <div>
      <cds-icon
        shape="angle"
        [ngClass]="detailsOpen ? 'down' : 'sideways'"
        inverse
      ></cds-icon>
      Verify: {{ taskName }} on {{ target }}
    </div>
    <div class="label-container">
      <button
        id="refreshButton"
        (click)="elementClicked()"
        class="label label-info"
        label="Revalidate"
      >
        <cds-icon
          [@rotatedState]="rotationState"
          shape="sync"
          inverse
        ></cds-icon>
      </button>
      <div *ngIf="task?.success" class="label label-status label-success">
        <cds-icon shape="check" inverse></cds-icon>
      </div>
      <div *ngIf="!task?.success" class="label label-status label-danger">
        <cds-icon shape="times" inverse></cds-icon>
      </div>
    </div>
  </summary>

  <ul class="list-group" *ngIf="task">
    <li class="list-group-item">
      <p>
        Description: <b>{{ task.description }}</b>
      </p>
      <p>
        Command: <code>{{ task.command }}</code>
      </p>
    </li>
    <li class="list-group-item" *ngIf="isOfReturnType(task, ['Match_Regex'])">
      <p>
        Regular Expression: <code>{{ task.expected_output_value }}</code>
      </p>
      <p>
        Actual Output: <code>{{ task.actual_output_value }}</code>
      </p>
    </li>
    <li
      class="list-group-item"
      *ngIf="isOfReturnType(task, ['Return_Text', 'Return_Code_And_Text'])"
    >
      <p>
        Expected Output: <code>{{ task.expected_output_value }}</code>
      </p>
      <p>
        Actual Output: <code>{{ task.actual_output_value }}</code>
      </p>
    </li>
    <li
      class="list-group-item"
      *ngIf="isOfReturnType(task, ['Return_Code', 'Return_Code_And_Text'])"
    >
      <p>
        Expected Returncode: <code>{{ task.expected_return_code }}</code>
      </p>
      <p>
        Actual Returncode: <code>{{ task.actual_return_code }}</code>
      </p>
    </li>
    <li class="list-group-item" *ngIf="taskUnset()">
      Run the validation checks once to see the result.
    </li>
    <li class="list-group-item" *ngIf="!taskUnset()">
      <span *ngIf="task.success" class="label label-success">
        <cds-icon shape="check" inverse></cds-icon>
      </span>
      <span *ngIf="!task.success" class="label label-danger">
        <cds-icon shape="times" inverse></cds-icon>
      </span>
      <ng-container *ngIf="isOfReturnType(task, ['Match_Regex'])">
        <span *ngIf="task.success">The Regex matches the output string.</span>
        <span *ngIf="!task.success"
          >The Regex does not match the output string.</span
        >
      </ng-container>
      <ng-container *ngIf="isOfReturnType(task, ['Return_Code'])">
        <span *ngIf="task.success"
          >Returned Code matches the expected Code</span
        >
        <span *ngIf="!task.success">
          Returned Code does not match the expected Code
        </span>
      </ng-container>
      <ng-container *ngIf="isOfReturnType(task, ['Return_Text'])">
        <span *ngIf="task.success"
          >Returned Text matches the expected Text</span
        >
        <span *ngIf="!task.success">
          Returned Text does not match the expected Text
        </span>
      </ng-container>
      <ng-container *ngIf="isOfReturnType(task, ['Return_Code_And_Text'])">
        <span *ngIf="task.success">
          Returned Text and Code match the expected Text and Code
        </span>
        <span *ngIf="!task.success">
          Either returned Text, Returned Code or both do not match the expected
          Text and Code
        </span>
      </ng-container>
    </li>
  </ul>
</details>
