<a (click)="openCourseView()" class="card clickable">
  <div class="card-img">
    <img
      style="max-height: 12.5rem"
      src="{{ getImagePath() ?? imagePath }}"
      alt="Image for the Course {{ course.name | atob }}"
    />
  </div>
  <div
    class="card-block"
    style="
      height: 16rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
    "
  >
    <div class="clr-row">
      <div class="card-title clr-col-8">{{ course.name | atob }}</div>
      <div class="clr-col-4">{{ course.scenarios.length }} Scenarios</div>
    </div>

    <p class="card-text">
      {{ course.description | atob }}
    </p>
  </div>
</a>
