.course-card {
  min-width: 30vw;
}

.course-description {
  min-height: 2.5rem;
  max-height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-block {
  height: 16rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
