<a
  (click)="openCourseView()"
  [ngClass]="!inCourseView ? 'card clickable' : 'card'"
>
  <div class="card-img">
    <img src="{{ imagePath }}" alt="Course: {{ course.name | atob }}" />
  </div>
  <div [ngClass]="inCourseView ? 'card-block full-size' : 'card-block'">
    <div class="clr-row">
      <div class="card-title clr-col-8">{{ course.name | atob }}</div>
      <div class="clr-col-4">{{ course.scenarios.length }} Scenarios</div>
    </div>

    <p class="card-text">{{ course.description | atob }}</p>
  </div>
</a>
