.login-wrapper {
  background: no-repeat center/cover;
  background-position: 21rem 0;
}

#login-logo {
  width: 75%;
  height: auto;
}

.login-wrapper .login {
  justify-content: center;
}

cds-icon.clr-input-group-icon-action {
  position: absolute;
  color: var(--clr-icon-costum);
  transform: translateX(-150%);
}

.clr-control-container {
  position: relative;
}