<div class="content-area">
<div class="clr-row">
    <div class="clr-col">
        <h1 id="course-list-title">Select a scenario from the courses below</h1>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-12">
        <div *ngIf="courses.length==0">
            No courses found.
        </div>
            <ng-container *ngFor="let c of courses; let i = index">
                <h2 class="course-header">{{ c.id }} - {{ c.name | atob }}</h2>
                <span *ngIf="c.inProgress">
                  <button class="btn btn-info-outline">Complete</button>
                </span>
                <hr/>
                    <p class="course-description">{{ c.description | atob }}</p>

                    <div class="clr-row">
                        <ng-container *ngIf="c.scenarios?.length > 0; else no_scenarios">
                            <div class="clr-col-3" *ngFor="let s of c.scenarios">
                                <scenario-card [(scenarioid)]="s" [(course)]="c"></scenario-card>
                            </div>
                        </ng-container>
                        <ng-template #no_scenarios>
                            <div class="clr-col-12">
                                <p>
                                    No scenarios found.
                                </p>
                            </div>
                        </ng-template>
                    </div>

            </ng-container>
    </div>
</div>
</div>
