<h3 class="course-description">{{ course.name | atob }}</h3>
<div class="container">
  <ul class="clr-timeline clr-timeline-vertical scrollable-left-side">
    @for (sId of course.scenarios; track sId; let i = $index) {
      <li class="clr-timeline-step">
        <div class="clr-timeline-step-header">{{ i + 1 }}</div>
        <cds-icon [attr.shape]="getShape(sId)"></cds-icon>
        <div class="clr-timeline-step-body scenario-card-container">
          @if (!isActiveSession(sId)) {
            <app-scenario-card
              [scenarioid]="sId"
              [courseId]="courseId"
              [activeSession]="!canBeStarted(sId)"
              (scenarioModal)="toggleScenarioModal(sId, course.id)"
            ></app-scenario-card>
          }
          @if (isActiveSession(sId) && activeSession; as session) {
            <app-scenario-card
              [scenarioid]="session.scenario"
              [courseId]="courseId"
              [progress]="session"
              (scenarioModal)="
                toggleScenarioModal(session.scenario, session.course)
              "
            ></app-scenario-card>
          }
        </div>
      </li>
    }
  </ul>
  <div class="sticky-side-card">
    <app-course-card [course]="course" [inCourseView]="true"></app-course-card>
  </div>
</div>

@if (scenarioId) {
  <app-scenario
    [scenarioid]="scenarioId"
    [courseid]="courseId"
    [accessCode]="ctx.accessCode"
    [showScenarioModal]="showScenarioModal"
    (scenarioModal)="toggleScenarioModal(scenarioId, courseId)"
  ></app-scenario>
}
