<h3 class="course-header">{{ course.name | atob }}</h3>
<hr />
<p class="course-description">{{ course.description | atob }}</p>
<div class="container">
  <ul class="clr-timeline clr-timeline-vertical scrollable-left-side">
    <li
      class="clr-timeline-step"
      *ngFor="let sId of course?.scenarios; let i = index"
    >
      <div class="clr-timeline-step-header">{{ i + 1 }} - {{ sId }}</div>

      <cds-icon [attr.shape]="getShape(sId)"></cds-icon>
      <div class="clr-timeline-step-body" style="width: 70%">
        <app-scenario-card
          *ngIf="!isActiveSession(sId)"
          [scenarioid]="sId"
          [activeSession]="!canBeStarted(sId)"
          (scenarioModal)="toggleScenarioModal(sId, course.id)"
        ></app-scenario-card>
        <app-scenario-card
          *ngIf="isActiveSession(sId)"
          [scenarioid]="activeSession.scenario"
          [progress]="activeSession"
          (scenarioModal)="
            toggleScenarioModal(activeSession.scenario, activeSession.course)
          "
        ></app-scenario-card>
      </div>
    </li>
  </ul>
  <div class="sticky-side-card">
    <app-course-card [course]="course"></app-course-card>
    <!-- <div class="card">
            <div class="card-header">
                Course: {{ course.name | atob }}
            </div>
            <div class="card-block">
                <div class="card-media-block">
                    <img src="https://www.sva.de/sites/default/files/2024-04/sva-logo-2024.png" class="card-media-image">
                    <div class="card-media-description">
                        <span class="card-media-text">
                            {{ course.description | atob }}
                        </span>
                    </div>
                </div>
                <div class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt excepturi labore explicabo temporibus, enim voluptate saepe corrupti illum earum eveniet ab veniam vel nisi fugit accusantium perferendis quas facilis quod. 
                </div>
            </div>
         <div class="card-footer">
                <button class="btn btn-sm btn-link">Action</button>
            </div> -->
    <!-- </div>  -->
  </div>
</div>

<app-scenario
  *ngIf="scenarioid"
  [scenarioid]="scenarioid"
  [courseid]="courseid"
  [accessCode]="ctx.accessCode"
  [showScenarioModal]="showScenarioModal"
  (scenarioModal)="toggleScenarioModal(scenarioid, courseid)"
></app-scenario>
