<div class="main-container">
  <header class="header header-4">
    <div class="branding">
      <a class="logo-and-title">
        <clr-icon shape="rancher"></clr-icon>
        <span class="title">Rancher's Hobby Farm</span>
      </a>
    </div>

    <div class="header-nav">
      <a href="javascript://" class="nav-link nav-text" >Home</a>
    </div>

    <div class="header-actions">
      <clr-dropdown clrMenuPosition="bottom-right">
        <button class="nav-text" clrDropdownToggle>
          {{email}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu>
          <a (click)="logout()" clrDropdownItem>Logout</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>

  <clr-modal #logoutmodal [(clrModalOpen)]="logoutModalOpened">
      <h3 class="modal-title">Are you sure you want to logout?</h3>
      <div class="modal-body">
          <p>
              Are you sure you want to logout?
          </p>
          <p>
              Doing so will clear any progress in any scenarios you have started, and will destroy the resources allocated for the scenarios.
          </p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="logoutModalOpened = false">Cancel</button>
          <button type="button" class="btn btn-danger-outline" (click)="doLogout()">Logout</button>
      </div>
  </clr-modal>
</div>