<div class="main-container">
  <header class="header header-4">
    <div class="branding">
      <a
        class="logo-and-title"
        href="javascript://"
        class="nav-link nav-text"
        [routerLink]="['/app/home']"
      >
        <clr-icon shape="logo"></clr-icon>
        <span class="title">{{ title }}</span>
      </a>
    </div>
    
    <clr-alert
    [clrAlertType]="'success'"
    [(clrAlertClosed)]="accessCodeSuccessClosed"
    [clrAlertClosable]="false"
  >
    <clr-alert-item>
      <span class="alert-text">
        {{ accessCodeSuccessAlert }}
      </span>
    </clr-alert-item>
  </clr-alert>

    <div class="settings">
      <clr-dropdown *ngIf="ctx.valid">
        <button class="nav-text" clrDropdownToggle>
          <clr-icon shape="layers" class="is-solid"></clr-icon>
          {{ ctx.scheduledEventName }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom">
          <a
            clrDropdownItem
            *ngFor="let a of scheduledEvents | keyvalue"
            (click)="setAccessCode(a.key)"
            >{{ a.value }}</a
          >
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>

    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownToggle>
          <clr-icon shape="user" class="is-solid"></clr-icon> {{ email }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="openAccessCodes()" clrDropdownItem
            ><clr-icon shape="tags"></clr-icon> Manage Access Codes</a
          >
          <a (click)="openSettings()" clrDropdownItem
            ><clr-icon shape="cog"></clr-icon> Settings</a
          >
          <a (click)="changePassword()" clrDropdownItem
            ><clr-icon shape="key"></clr-icon> Change Password</a
          >
          <a (click)="about()" clrDropdownItem
            ><clr-icon shape="help-info"></clr-icon> About</a
          >
          <a (click)="logout()" clrDropdownItem
            ><clr-icon shape="logout"></clr-icon> Logout</a
          >
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>

  <clr-modal #logoutmodal [(clrModalOpen)]="logoutModalOpened">
    <h3 class="modal-title">Are you sure you want to logout?</h3>
    <div class="modal-body">
      <p>Are you sure you want to logout?</p>
      <p>
        Doing so will clear any progress in any scenarios you have started, and
        will destroy the resources allocated for the scenarios.
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline"
        (click)="logoutModalOpened = false"
      >
        Cancel
      </button>
      <button type="button" class="btn btn-danger-outline" (click)="doLogout()">
        Logout
      </button>
    </div>
  </clr-modal>

  <clr-modal #aboutmodal [(clrModalOpen)]="aboutModalOpened">
    <h3 class="modal-title">{{ aboutTitle }}</h3>
    <div class="modal-body">
      <p class="about-body">
        {{ aboutBody }}
      </p>
      <ng-container *ngFor="let button of buttons">
        <a href="{{ button.url }}" target="_blank">
          <button class="btn btn-sm btn-link">
            {{ button.title }}
            <clr-icon shape="pop-out"></clr-icon>
          </button>
        </a>
      </ng-container>
    </div>
  </clr-modal>

  <clr-modal #accesscodemodal [(clrModalOpen)]="accessCodeModalOpened">
    <h3 class="modal-title">Manage Access Codes</h3>
    <div class="modal-body">
      <clr-alert
        [clrAlertType]="'danger'"
        [(clrAlertClosed)]="accessCodeDangerClosed"
        [clrAlertClosable]="false"
      >
        <clr-alert-item>
          <span class="alert-text">
            {{ accessCodeDangerAlert }}
          </span>
        </clr-alert-item>
      </clr-alert>
      <clr-alert
        [clrAlertType]="'success'"
        [(clrAlertClosed)]="accessCodeSuccessClosed"
        [clrAlertClosable]="false"
      >
        <clr-alert-item>
          <span class="alert-text">
            {{ accessCodeSuccessAlert }}
          </span>
        </clr-alert-item>
      </clr-alert>

      <button
        class="btn btn-success-outline btn-sm"
        (click)="newAccessCode = true"
      >
        <clr-icon shape="plus"></clr-icon> Add Access Code
      </button>

      <ng-container *ngIf="newAccessCode">
        <form clrForm [formGroup]="newAccessCodeForm">
          <clr-input-container>
            <label class="clr-col-md-4">Access Code</label>
            <input
              class="clr-col-md-6"
              clrInput
              type="text"
              name="access_code"
              formControlName="access_code"
              required
            />
            <clr-control-error *clrIfError="'required'"
              >Access code required.</clr-control-error
            >
            <clr-control-error *clrIfError="'minLength'"
              >Access code must be longer than 4 characters
            </clr-control-error>
          </clr-input-container>
          <div class="col-md-2">
            <button
              class="btn btn-success btn-sm"
              [disabled]="!newAccessCodeForm.valid"
              (click)="saveAccessCode(true)"
            >
              Save & Activate
            </button>
            <button
              class="btn btn-outline btn-sm"
              [disabled]="!newAccessCodeForm.valid"
              (click)="saveAccessCode()"
            >
              Save
            </button>
          </div>
        </form>
      </ng-container>

      <ng-container *ngIf="fetchingAccessCodes">
        <span class="spinner spinner-inline"> Loading... </span>
        <span> Loading... </span>
      </ng-container>
      <ng-container *ngIf="!fetchingAccessCodes">
        <clr-datagrid class="datagrid-compact">
          <clr-dg-column>Access Code</clr-dg-column>
          <clr-dg-column>Valid</clr-dg-column>
          <clr-dg-row *clrDgItems="let a of accesscodes" [clrDgItem]="a">
            <clr-dg-action-overflow>
              <button class="action-item" (click)="deleteAccessCode(a)">
                Delete
              </button>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{ a }}</clr-dg-cell>
            <clr-dg-cell>
              <ng-container *ngIf="!isValidAccessCode(a)">
                <clr-icon
                  class="invalid-access-code"
                  shape="warning-standard"
                ></clr-icon>
                <span> No associated event</span>
              </ng-container>
              <ng-container *ngIf="isValidAccessCode(a)">
                <clr-icon
                  class="valid-access-code"
                  shape="success-standard"
                ></clr-icon>
              </ng-container>
              <span> {{ getScheduledEventNameForAccessCode(a) }}</span>
            </clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </ng-container>
    </div>
    <div class="modal-footer">
      <button class="btn" (click)="accessCodeModalOpened = false">Close</button>
    </div>
  </clr-modal>

  <clr-modal #settingsmodal [(clrModalOpen)]="settingsModalOpened">
    <h3 class="modal-title">Settings</h3>
    <div class="modal-body">
      <ng-container *ngIf="fetchingSettings">
        <span class="spinner spinner-inline"> Loading... </span>
        <span> Loading... </span>
      </ng-container>
      <ng-container *ngIf="!fetchingSettings">
        <form clrForm [formGroup]="settingsForm">
          <clr-tabs>
            <clr-tab>
              <button clrTabLink>Terminal</button>
              <clr-tab-content *clrIfActive="true">
                <clr-input-container>
                  <label class="clr-col-md-4">Font-Size</label>
                  <input
                    class="clr-col-md-8"
                    clrInput
                    type="number"
                    required
                    name="terminal_fontSize"
                    formControlName="terminal_fontSize"
                  />
                  <clr-control-error *clrIfError="'required'"
                    >Font Size required.</clr-control-error
                  >
                </clr-input-container>
                <clr-checkbox-container>
                  <label class="clr-col-md-4">CTR Enabled</label>
                  <clr-checkbox-wrapper>
                    <input
                      class="clr-col-md-8"
                      type="checkbox"
                      clrCheckbox
                      name="ctr_enabled"
                      formControlName="ctr_enabled"
                    />
                  </clr-checkbox-wrapper>
                </clr-checkbox-container>
              </clr-tab-content>
            </clr-tab>
            <clr-tab>
              <button clrTabLink>Terminal Theme</button>
              <clr-tab-content>
                <div
                  *ngFor="let theme of themes"
                  class="radio-box-container clr-col-6"
                >
                  <label class="theme-preview-radio-box clr-col-md-12">
                    <input
                      class="theme-preview-radio-button"
                      type="radio"
                      [value]="theme.id"
                      name="terminal_theme"
                      formControlName="terminal_theme"
                    />
                    <div class="theme-preview-container">
                      <div
                        class="theme-preview-terminal"
                        [ngStyle]="{
                          'background-color': theme.styles.background
                        }"
                      >
                        <div class="theme-preview-terminal-text">
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.foreground
                            }"
                          ></div>
                        </div>
                        <br />
                        <div
                          class="theme-preview-terminal-text"
                          style="width: 10%"
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.foreground
                            }"
                          ></div>
                        </div>
                        <div class="theme-preview-terminal-space"></div>
                        <div
                          class="theme-preview-terminal-text"
                          style="width: 10%"
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.foreground
                            }"
                          ></div>
                        </div>
                        <div
                          class="theme-preview-terminal-text"
                          style="
                            background-color: rgba(255, 255, 255, 0.3);
                            width: 50%;
                          "
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.foreground
                            }"
                          ></div>
                        </div>
                        <div
                          class="theme-preview-terminal-text"
                          style="
                            background-color: rgba(255, 255, 255, 0.3);
                            width: 27%;
                          "
                        ></div>
                        <br />
                        <div
                          class="theme-preview-terminal-text"
                          style="
                            background-color: rgba(255, 255, 255, 0.3);
                            width: 4%;
                          "
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.foreground
                            }"
                          ></div>
                        </div>
                        <div
                          class="theme-preview-terminal-text"
                          style="
                            background-color: rgba(255, 255, 255, 0.3);
                            width: 5%;
                          "
                        ></div>
                        <div
                          class="theme-preview-terminal-text"
                          style="
                            background-color: rgba(255, 255, 255, 0.3);
                            width: 6%;
                          "
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.foreground
                            }"
                          ></div>
                        </div>
                        <div
                          class="theme-preview-terminal-text"
                          style="width: 10%"
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.foreground
                            }"
                          ></div>
                        </div>
                        <br />
                        <div
                          class="theme-preview-terminal-text"
                          style="width: 10%"
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.blue
                            }"
                          ></div>
                        </div>
                        <div class="theme-preview-terminal-space"></div>
                        <div
                          class="theme-preview-terminal-text"
                          style="width: 10%"
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.green
                            }"
                          ></div>
                        </div>
                        <div class="theme-preview-terminal-space"></div>
                        <div
                          class="theme-preview-terminal-text"
                          style="width: 10%"
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{ 'background-color': theme.styles.red }"
                          ></div>
                        </div>
                        <div class="theme-preview-terminal-space"></div>
                        <div
                          class="theme-preview-terminal-text"
                          style="width: 10%"
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.cyan
                            }"
                          ></div>
                        </div>
                        <div class="theme-preview-terminal-space"></div>
                        <div
                          class="theme-preview-terminal-text"
                          style="width: 10%"
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.yellow
                            }"
                          ></div>
                        </div>
                        <div class="theme-preview-terminal-space"></div>
                        <div
                          class="theme-preview-terminal-text"
                          style="width: 10%"
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.magenta
                            }"
                          ></div>
                        </div>

                        <br />
                        <div
                          class="theme-preview-terminal-text"
                          style="width: 4%"
                        >
                          <div
                            class="theme-preview-terminal-text-bar"
                            [ngStyle]="{
                              'background-color': theme.styles.foreground
                            }"
                          ></div>
                        </div>
                        <div
                          class="theme-preview-terminal-cursor"
                          [ngStyle]="{
                            'background-color': theme.styles.cursor
                          }"
                        ></div>
                      </div>
                      <div class="theme-preview-name">
                        {{ theme.name }}
                      </div>
                    </div>
                  </label>
                </div>
              </clr-tab-content>
            </clr-tab>
          </clr-tabs>
        </form>
      </ng-container>
    </div>
    <div class="modal-footer">
      <button class="btn" (click)="settingsModalOpened = false">Close</button>
      <button class="btn btn-success" (click)="doSaveSettings()">Save</button>
    </div>
  </clr-modal>

  <clr-modal #changepasswordmodal [(clrModalOpen)]="changePasswordModalOpened">
    <h3 class="modal-title">Change Password</h3>
    <div class="modal-body">
      <clr-alert
        [clrAlertType]="'danger'"
        [(clrAlertClosed)]="changePwDangerClosed"
        [clrAlertClosable]="false"
      >
        <clr-alert-item>
          <span class="alert-text">
            {{ changePwDangerAlert }}
          </span>
        </clr-alert-item>
      </clr-alert>
      <clr-alert
        [clrAlertType]="'success'"
        [(clrAlertClosed)]="changePwSuccessClosed"
        [clrAlertClosable]="false"
      >
        <clr-alert-item>
          <span class="alert-text">
            {{ changePwSuccessAlert }}
          </span>
        </clr-alert-item>
      </clr-alert>
      <form clrForm [formGroup]="passwordChangeForm">
        <clr-input-container>
          <label class="clr-col-md-4">Old Password</label>
          <input
            class="clr-col-md-8"
            clrInput
            type="password"
            name="old_password"
            formControlName="old_password"
            required
          />
          <clr-control-error *clrIfError="'required'"
            >Old password required.</clr-control-error
          >
        </clr-input-container>
        <clr-input-container>
          <label class="clr-col-md-4">New Password</label>
          <input
            class="clr-col-md-8"
            clrInput
            type="password"
            name="new_password1"
            formControlName="new_password1"
            required
          />
          <clr-control-error *clrIfError="'required'"
            >New password required.</clr-control-error
          >
        </clr-input-container>
        <clr-input-container>
          <label class="clr-col-md-4">New Password Again</label>
          <input
            class="clr-col-md-8"
            clrInput
            type="password"
            name="new_password2"
            formControlName="new_password2"
            required
          />
          <clr-control-error *clrIfError="'required'"
            >Password confirmation required.</clr-control-error
          >
        </clr-input-container>
        <div
          class="clr-subtext"
          *ngIf="
            passwordChangeForm.errors?.passwordMismatch &&
            (passwordChangeForm.touched || passwordChangeForm.dirty)
          "
        >
          Passwords do not match
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-danger-outline"
        (click)="changePasswordModalOpened = false"
      >
        Cancel
      </button>
      <button
        class="btn btn-success"
        [disabled]="!passwordChangeForm.valid"
        (click)="doChangePassword()"
      >
        Change Password
      </button>
    </div>
  </clr-modal>
</div>
