<div class="main-container">
  <header class="header header-4">
    <div class="branding">
      <a class="logo-and-title">
        <clr-icon shape="logo"></clr-icon>
        <span class="title">{{ title }}</span>
      </a>
    </div>

    <div class="header-nav">
      <a href="javascript://" class="nav-link nav-text" [routerLink]="['/app/home']">Home</a>
    </div>

    <div class="header-actions">
      <clr-dropdown clrMenuPosition="bottom-right">
        <button class="nav-text" clrDropdownToggle>
          {{email}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu>
          <a (click)="openAccessCodes()" clrDropdownItem>Manage Access Codes</a>
          <a (click)="changePassword()" clrDropdownItem>Change Password</a>
          <a (click)="about()" clrDropdownItem>About</a>
          <a (click)="logout()" clrDropdownItem>Logout</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>

  </header>

  <div class="content-container">
    <router-outlet></router-outlet>
  </div>

  <clr-modal #logoutmodal [(clrModalOpen)]="logoutModalOpened">
    <h3 class="modal-title">Are you sure you want to logout?</h3>
    <div class="modal-body">
      <p>
        Are you sure you want to logout?
      </p>
      <p>
        Doing so will clear any progress in any scenarios you have started, and will destroy the resources allocated for
        the scenarios.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="logoutModalOpened = false">Cancel</button>
      <button type="button" class="btn btn-danger-outline" (click)="doLogout()">Logout</button>
    </div>
  </clr-modal>

  <clr-modal #aboutmodal [(clrModalOpen)]="aboutModalOpened">
    <h3 class="modal-title">About HobbyFarm</h3>
    <div class="modal-body">
      <p>
        HobbyFarm was lovingly crafted by @ebauman and @Oats87 from @RancherLabs
      </p>
      <p>
        <i>UI Version: {{version}}</i>
      </p>
    </div>
  </clr-modal>

  <clr-modal #accesscodemodal [(clrModalOpen)]="accessCodeModalOpened">
    <h3 class="modal-title">Manage Access Codes</h3>
    <div class="modal-body">
      <clr-alert [clrAlertType]="'danger'" [(clrAlertClosed)]="accessCodeDangerClosed" [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">
            {{ accessCodeDangerAlert }}
          </span>
        </clr-alert-item>
      </clr-alert>
      <clr-alert [clrAlertType]="'success'" [(clrAlertClosed)]="accessCodeSuccessClosed" [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">
            {{ accessCodeSuccessAlert }}
          </span>
        </clr-alert-item>
      </clr-alert>

      <button class="btn btn-success-outline btn-sm" (click)="newAccessCode = true">
        <clr-icon shape="plus"></clr-icon> Add Access Code
      </button>

      <ng-container *ngIf="newAccessCode">
        <form clrForm [formGroup]="newAccessCodeForm">
          <clr-input-container>
            <label class="clr-col-md-4">Access Code</label>
            <input class="clr-col-md-6" clrInput type="text" name="access_code" formControlName="access_code"
              required />
            <clr-control-error *clrIfError="'required'">Access code required.</clr-control-error>
            <clr-control-error *clrIfError="'minLength'">Access code must be longer than 4 characters
            </clr-control-error>
          </clr-input-container>
          <div class="col-md-2">
            <button class="btn btn-success btn-sm" [disabled]="!newAccessCodeForm.valid" (click)="saveAccessCode()">Save</button>
          </div>
        </form>
      </ng-container>

      <ng-container *ngIf="fetchingAccessCodes">
        <span class="spinner spinner-inline">
          Loading...
        </span>
        <span>
          Loading...
        </span>
      </ng-container>
      <ng-container *ngIf="!fetchingAccessCodes">
        <clr-datagrid class="datagrid-compact">
          <clr-dg-column>Access Code</clr-dg-column>

          <clr-dg-row *clrDgItems="let a of accesscodes" [clrDgItem]="a">
            <clr-dg-action-overflow>
              <button class="action-item" (click)="deleteAccessCode(a)">Delete</button>
            </clr-dg-action-overflow>
            <clr-dg-cell>{{ a }}</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </ng-container>
    </div>
    <div class="modal-footer">
      <button class="btn" (click)="accessCodeModalOpened = false">Close</button>
    </div>
  </clr-modal>

  <clr-modal #changepasswordmodal [(clrModalOpen)]="changePasswordModalOpened">
    <h3 class="modal-title">Change Password</h3>
    <div class="modal-body">
      <clr-alert [clrAlertType]="'danger'" [(clrAlertClosed)]="changePwDangerClosed" [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">
            {{ changePwDangerAlert }}
          </span>
        </clr-alert-item>
      </clr-alert>
      <clr-alert [clrAlertType]="'success'" [(clrAlertClosed)]="changePwSuccessClosed" [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">
            {{ changePwSuccessAlert }}
          </span>
        </clr-alert-item>
      </clr-alert>
      <form clrForm [formGroup]="passwordChangeForm">
        <clr-input-container>
          <label class="clr-col-md-4">Old Password</label>
          <input class="clr-col-md-8" clrInput type="password" name="old_password" formControlName="old_password"
            required />
          <clr-control-error *clrIfError="'required'">Old password required.</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label class="clr-col-md-4">New Password</label>
          <input class="clr-col-md-8" clrInput type="password" name="new_password1" formControlName="new_password1"
            required />
          <clr-control-error *clrIfError="'required'">New password required.</clr-control-error>
        </clr-input-container>
        <clr-input-container>
          <label class="clr-col-md-4">New Password Again</label>
          <input class="clr-col-md-8" clrInput type="password" name="new_password2" formControlName="new_password2"
            required />
          <clr-control-error *clrIfError="'required'">Password confirmation required.</clr-control-error>
        </clr-input-container>
        <div class="clr-subtext"
          *ngIf="passwordChangeForm.errors?.passwordMismatch && (passwordChangeForm.touched || passwordChangeForm.dirty)">
          Passwords do not match</div>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger-outline" (click)="changePasswordModalOpened = false">Cancel</button>
      <button class="btn btn-success" [disabled]="!passwordChangeForm.valid || (new_password1 != new_password2)"
        (click)="doChangePassword()">Change Password</button>
    </div>
  </clr-modal>
</div>
