<div class="content-area">
<div class="clr-row">
    <div class="clr-col">
        <h3>Select a scenario</h3>
    </div>
</div>
<div class="clr-row">
    <ng-container *ngIf="scenarios?.length > 0">
        <div class="clr-col-3" *ngFor="let s of scenarios">
            <scenario-card [(scenarioid)]="s.id"></scenario-card>
        </div>
    </ng-container>
    <ng-container *ngIf="scenarios?.length <= 0">
        <div class="clr-col-12">
            <p>
                No scenarios found.
            </p>
        </div>
    </ng-container>
</div>
</div>
