<div class="content-area">
  <clr-alert
    [clrAlertType]="'success'"
    [(clrAlertClosed)]="accessCodeLinkSuccessClosed"
    [clrAlertClosable]="false"
    class="full-width"
  >
    <clr-alert-item>
      <span>
        {{ accessCodeLinkSuccessAlert }}
      </span>
    </clr-alert-item>
  </clr-alert>

  <clr-alert
    [clrAlertType]="'danger'"
    [(clrAlertClosed)]="accessCodeLinkErrorClosed"
    [clrAlertClosable]="false"
    class="full-width"
  >
    <clr-alert-item>
      <span>
        {{ accessCodeLinkErrorAlert }}
      </span>
    </clr-alert-item>
  </clr-alert>

  @if (activeSession) {
  <div>
    <div class="clr-row">
      <div class="clr-col">
        <h1>Active session</h1>
      </div>
    </div>

    <div class="clr-row">
      <div class="clr-col-12 clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
        <app-scenario-card
          [scenarioid]="activeSession.scenario"
          [progress]="activeSession"
          (scenarioModal)="toggleScenarioModal(activeSession.scenario)"
        ></app-scenario-card>
      </div>
    </div>
  </div>
  } @if (!ctx.valid) {
  <div class="clr-row">
    <div class="clr-col-12">
      <h1>Add AccessCode</h1>
      Add AccessCodes to your account by clicking on your username on the top
      right.
    </div>
  </div>
  } @else {
  <div class="clr-row">
    <div class="clr-col">
      <h1>{{ ctx.scheduledEvent.name }}</h1>
      @if (isTimeLeft()) {
      <div>
        <cds-icon shape="clock"></cds-icon>
        {{ getTimeLeftString(ctx.scheduledEvent.end_timestamp) }} left
      </div>
      <p>{{ ctx.scheduledEvent.description }}</p>
      <h3>Select a scenario</h3>
      } @else {
      <cds-icon shape="clock"></cds-icon> Your time ran out at
      {{ ctx.scheduledEvent.end_timestamp }}.
      <p>
        You will be able to finish any active sessions, but you are unable to
        start any new scenario.
      </p>
      }
    </div>
  </div>
  } @if (ctx.valid && isTimeLeft()) {
  <div class="clr-row">
    <div class="clr-col-12">
      @if ( !courses.length && !scenarios.length && loadedScenarios &&
      loadedCourses && ctx.valid ) {
      <div>No scenarios or courses found.</div>
      } @else if (!loadedScenarios && !loadedCourses && ctx.valid) {
      <div>Loading scenarios...</div>
      }
    </div>

    @if (scenarios.length > 0 && ctx.valid) { @for (s of scenarios; track s) {
    <div class="clr-col-12 clr-col-sm-6 clr-col-md-4 clr-col-lg-3">
      <app-scenario-card
        [scenarioid]="s.id"
        [activeSession]="!!activeSession"
        (scenarioModal)="toggleScenarioModal(s.id)"
      ></app-scenario-card>
    </div>
    } }

    <div class="clr-row full-width" *ngIf="courses.length > 0 && ctx.valid">
      <h3 class="full-width">Select a Course</h3>
      <ng-container *ngFor="let c of courses">
        <div class="clr-col-lg-3">
          <app-course-card [course]="c"></app-course-card>
        </div>
      </ng-container>
    </div>
    }
  </div>

  @if (scenarioid) {
  <app-scenario
    [scenarioid]="scenarioid"
    [courseid]="courseid"
    [accessCode]="ctx.accessCode"
    [showScenarioModal]="showScenarioModal"
    (scenarioModal)="toggleScenarioModal()"
  ></app-scenario>
  }
</div>
