#course-list-title {
  font-size: 150%;
}

.course-description {
  font-size: 0.75rem;
}

.alert-home {
  width: 100%;
}

cds-icon[shape='clock'] {
  color: black;
}

.course-container {
  width: 100%;
}
