// Styles for the rendered markdown
.hf-md-content ::ng-deep {
  p {
    margin: 0;
  }

  p, ol li, ul li{
    code {
      font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
      padding: 1px 10px 2px 10px;
      font-weight: bold;
      color: #000;
      background-color: #f4f4f4;
      border-radius: 5px;
    }
  }

  pre {
    padding: 5px 10px;
    overflow-x: auto;
    background-color: #f8f8f8;
    margin-bottom: 0px;
    .filename,
    .language {
      float: right;
      color: #a8a8a8;
      transition: color 0.5s;
    }

    .filename:hover {
      color: green;
    }

    &:hover {
      .filename,
      .language {
        color: rgb(51, 51, 51);
      }
    }
  }

  details {
    margin: 10px 0;
  }

  img {
    width: 100%;
    height: auto;
  }

  .note {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid;
    border-left: 3px solid;
    border-top-color: var(--clr-color-neutral-400, #cccccc);
    border-right-color: var(--clr-color-neutral-400, #cccccc);
    border-bottom-color: var(--clr-color-neutral-400, #cccccc);
    border-radius: 5px;

    .note-title {
      clr-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
      }
      color: black;
      font-weight: bold;
    }

    .note-content {
      padding-left: 10px;
    }

    &.info {
      border-left-color: #54cbf2;
    }

    &.caution {
      border-left-color: #f0ad4e;
    }

    &.warning {
      border-left-color: var(--clr-color-danger-500, red);
    }

    &.task {
      border-left-color: var(--clr-color-success-500, green);
    }
  }

  :not(pre) > code[class*='language-'],
  pre[class*='language-'] {
    background: #f8f8f8 !important;
  }

  .glossary {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }

  .glossary .glossary-content {
    visibility: hidden;
    width: 200px;
    background-color: black;
    text-align: center;
    padding: 10px;
    border-radius: 6px;
    width: 120px;
    top: 100%;
    left: 60px;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

    position: absolute;
    z-index: 1;

    p {
      color: #fff;
      margin-top: 0;
    }
  }

  .glossary:hover .glossary-content {
    visibility: visible;
  }

  details {
    border: 1px solid var(--clr-color-neutral-400, #cccccc);
    border-left: 3px solid #54cbf2;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    &[open] {
      padding: 0.5em;
      summary {
        margin-bottom: 0.5em;
      }
    }
  }

  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    display: list-item;
    cursor: pointer;
  }
}
