.check-tasks-button {
  cursor: pointer;
  color: var(--clr-btn-default-outline-hover-color, #3bb1d8);
  font-size: var(--clr-btn-appearance-form-font-size, 0.6rem);
  font-weight: var(--clr-btn-appearance-form-font-weight, 500);
  font-family: Montserrat, Avenir Next, Arial, sans-serif;
}

cds-icon.clr-accordion-angle {
  fill: var(--clr-icon-color-inverse);
}

.label {
  position: absolute;
  right: 30px;
}
