<ng-container>
  <app-task-progress [vms]="vms" (click)="openTaskModal()"></app-task-progress>
</ng-container>

<ng-template #loadingSpinner>
  <div style="width: 100%; min-height: 20vh">
    <clr-spinner style="position: absolute; left: 45%; top: 40%"></clr-spinner>
  </div>
</ng-template>

<clr-modal [(clrModalOpen)]="modalOpen" [clrModalClosable]="true">
  <div class="modal-header">
    <button aria-label="Close" class="close" type="button">
      <cds-icon shape="close"></cds-icon>
    </button>
  </div>
  <h3 class="modal-title">Task Progress:</h3>
  <div class="modal-body">
    <clr-accordion
      clrAccordionMultiPanel="true"
      *ngIf="!loading; else loadingSpinner"
    >
      <clr-accordion-panel *ngFor="let task of tasks">
        <clr-accordion-title style="width: 100%" inverse>
          <div
            style="display: flex; justify-content: space-between; width: 100%"
          >
            <div>
              <b>{{ task.name }}</b>
              <span *ngIf="task.success" class="label label-success">
                <cds-icon shape="check" inverse></cds-icon>
              </span>
              <span *ngIf="!task.success" class="label label-danger">
                <cds-icon shape="times" inverse></cds-icon>
              </span>
            </div>
          </div>
        </clr-accordion-title>
        <clr-accordion-content *clrIfExpanded>
          <ul class="list-group">
            <li class="list-group-item">
              <p>Description: {{ task.description }}</p>
              <p>
                Command:<code>{{ task.command }}</code>
              </p>
            </li>
            <li
              class="list-group-item"
              *ngIf="isOfReturnType(task, ['Match_Regex'])"
            >
              <p>
                Regular Expression:
                <code>{{ task.expected_output_value }}</code>
              </p>
              <p>
                Actual Output: <code>{{ task.actual_output_value }}</code>
              </p>
            </li>
            <li
              class="list-group-item"
              *ngIf="
                isOfReturnType(task, ['Return_Text', 'Return_Code_And_Text'])
              "
            >
              <p>
                Expected Output: <code>{{ task.expected_output_value }}</code>
              </p>
              <p>
                Actual Output: <code>{{ task.actual_output_value }}</code>
              </p>
            </li>
            <li
              class="list-group-item"
              *ngIf="
                isOfReturnType(task, ['Return_Code', 'Return_Code_And_Text'])
              "
            >
              <p>
                Expected Returncode:
                <code>{{ task.expected_return_code }}</code>
              </p>
              <p>
                Actual Returncode: <code>{{ task.actual_return_code }}</code>
              </p>
            </li>
            <li class="list-group-item">
              <ng-container *ngIf="isOfReturnType(task, ['Match_Regex'])">
                <span *ngIf="task.success"
                  >The Regex matches the output string.</span
                >
                <span *ngIf="!task.success"
                  >The Regex does not match the output string.</span
                >
              </ng-container>
              <ng-container *ngIf="isOfReturnType(task, ['Return_Code'])">
                <span *ngIf="task.success"
                  >Returned Code matches the expected Code</span
                >
                <span *ngIf="!task.success">
                  Returned Code does not match the expected Code
                </span>
              </ng-container>
              <ng-container *ngIf="isOfReturnType(task, ['Return_Text'])">
                <span *ngIf="task.success"
                  >Returned Text matches the expected Text</span
                >
                <span *ngIf="!task.success">
                  Returned Text does not match the expected Text
                </span>
              </ng-container>
              <ng-container
                *ngIf="isOfReturnType(task, ['Return_Code_And_Text'])"
              >
                <span *ngIf="task.success">
                  Returned Text and Code match the expected Text and Code
                </span>
                <span *ngIf="!task.success">
                  Either returned Text, Returned Code or both do not match the
                  expected Text and Code
                </span>
              </ng-container>
            </li>
          </ul>
        </clr-accordion-content>
      </clr-accordion-panel>
    </clr-accordion>
  </div>
  <div class="modal-footer">
    <div>{{ percentSuccessful }}%</div>
    <button class="btn btn-primary" type="button" (click)="close()">Ok</button>
  </div>
</clr-modal>
