details {
  margin: 10px 0;
  border: 1px solid var(--clr-color-neutral-400, #cccccc);
  border-left: 3px solid #54cbf2;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  white-space: normal;
  &[open] {
    padding: 0.5em;
    summary {
      margin-bottom: 0.5em;
    }
  }
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  display: list-item;
  cursor: pointer;
}
