@import './theme.scss';
@import '../node_modules/@clr/ui/src/main.scss';

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #f8f8f8 !important;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
  &[open] {
    padding: 0.5em;
    summary {
      margin-bottom: 0.5em;
    }
  }
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  display: list-item;
  cursor: pointer;
}

.glossary {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.glossary .glossary-content {
  visibility: hidden;
  width: 200px;
  background-color: black;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  width: 120px;
  top: 100%;
  left: 60px;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

  position: absolute;
  z-index: 1;

  p {
    color: #fff;
    margin-top: 0;
  }
}

.glossary:hover .glossary-content {
  visibility: visible;
}
