@import "./theme.scss";
@import "../node_modules/@clr/ui/src/main.scss";

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f8f8f8 !important;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
  &[open]{
    padding: .5em;
    summary{
      margin-bottom: .5em;
    }
  }
}

summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
  display: list-item;
  cursor: pointer;
}