.tooltip-content {
  position: absolute;
  z-index: 1000;
  width: 120px;
  background-color: var(--clr-tooltip-background-color, black);
  color: var(--clr-tooltip-color, #fff);
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  white-space: normal;
}
