pre {
  margin-bottom: 0;
  padding: 5px 10px;
  word-wrap: break;
  white-space: break-spaces;
  background: #292b2e;
  color: #c5c8c6;
  cursor: pointer;
  overflow-x: auto;
  &.disabled{
    cursor: not-allowed;
  }
}

i {
  font-size: 0.7em;
}

b {
  color: #282828;
}
