<clr-modal [(clrModalOpen)]="showScenarioModal" [clrModalClosable]="false" [clrModalSize]="'lg'">
  <h3 class="modal-title">
    <clr-icon shape="list" size="32"></clr-icon> {{ scenario?.name | atob }}
  </h3>
  <div class="modal-body">
    <h5>
      {{ scenario?.description | atob }}
    </h5>
    <div class="clr-row" *ngIf="vmclaims.length == 0">

      <div class="clr-col">
        <br/>
        <span class="spinner spinner-inline">
          Requesting virtual machine resources...
        </span>
        <span>
          Requesting virtual machine resources...
        </span>
      </div>
    </div>
    <clr-alert [clrAlertType]="'info'" [clrAlertClosable]="false" *ngIf="dynamicallyBinding">
      <clr-alert-item>
        <span class="alert-text">
          Virtual machines are being provisioned on-demand, this may take a few moments...
        </span>
      </clr-alert-item>
    </clr-alert>
    <table class="table">
      <thead>
        <tr>
          <th class="left">name</th>
          <th class="left">id</th>
          <th class="left">template</th>
          <th>status</th>
          <th>public ip</th>
          <th>private ip</th>
          <th>hostname</th>
        </tr>
      </thead>
      <tbody *ngFor="let vmc of vmclaims" [vmclaim]="vmc" (ready)="ready($event)"></tbody>
    </table>

  </div>
  <div class="modal-footer">
    <button class="btn btn-warning-outline" (click)="close()" type="button">Cancel</button>
    <button class="btn btn-success" [disabled]="unreadyclaims.length > 0" (click)="goSession()">Begin Scenario</button>
  </div>
</clr-modal>
