<div class="card">
  @if (progress) {
    <div class="progress">
      <progress
        [class]="getProgressColorClass()"
        [value]="getProgress() || 0"
        max="100"
      ></progress>
    </div>
  }
  <div class="card-header">
    {{ scenario.name | atob }}
  </div>
  <div class="card-block">
    <div class="card-text">
      {{ scenario.description | atob }}
    </div>
  </div>
  @if (ctx.accessCode !== '') {
    <div class="card-footer">
      @if (!progress || progress.finished) {
        <button
          class="btn btn-sm btn-link"
          (click)="navScenario()"
          [disabled]="activeSession"
        >
          <cds-icon shape="play"></cds-icon> Start Scenario
        </button>
      } @else {
        <button
          class="btn btn-danger-outline"
          (click)="terminate()"
          [disabled]="terminated"
        >
          <cds-icon shape="times"></cds-icon> Terminate Session
        </button>
        <button
          class="btn btn-success"
          (click)="continue()"
          [disabled]="terminated"
        >
          <cds-icon shape="play"></cds-icon> Continue
        </button>
      }
      @if (scenario.printable && (!progress || progress.finished)) {
        <a
          [routerLink]="['/scenario', scenario.id, 'printable']"
          target="_blank"
        >
          <button class="btn btn-sm btn-link">
            <cds-icon shape="printer"></cds-icon> Print
          </button>
        </a>
      }
    </div>
  }
</div>
