<clr-modal
  [(clrModalOpen)]="showScenarioModal"
  [clrModalClosable]="false"
  [clrModalSize]="'lg'"
>
  <h3 class="modal-title">
    <cds-icon shape="list" size="32"></cds-icon> {{ scenario.name | atob }}
  </h3>
  <div class="modal-body">
    <h5>
      {{ scenario.description | atob }}
    </h5>
    @if (vmclaims.length === 0 && !error) {
      <div class="clr-row">
        <div class="clr-col">
          <br />
          <span class="spinner spinner-inline">
            Requesting virtual machine resources...
          </span>
          <span> Requesting virtual machine resources... </span>
        </div>
      </div>
    }
    @else if (isDynamicallyBinding) {
      <clr-alert [clrAlertType]="'info'" [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">
            Virtual machines are being provisioned on-demand, this may take a
            few moments...
          </span>
        </clr-alert-item>
      </clr-alert>
    }
    @else if (error) {
      <clr-alert [clrAlertType]="'danger'" [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">
            There was an error creating the session. Try again later or contact
            administrator.
          </span>
        </clr-alert-item>
      </clr-alert>
    } @else {
      <table class="table">
        <thead>
          <tr>
            <th class="left">name</th>
            <th class="left">id</th>
            <th class="left">template</th>
            <th>status</th>
            <th>public ip</th>
            <th>private ip</th>
            <th>hostname</th>
          </tr>
        </thead>
        @for (vmc of vmclaims; track vmc) {
          <tbody [vmclaim]="vmc" (ready)="onReady(vmc)"></tbody>
        }
      </table>
    }
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning-outline" (click)="close()" type="button">
      Cancel
    </button>
    <button
      class="btn btn-success"
      [disabled]="!isReady"
      [routerLink]="['/app/session', session.id, 'steps', 0]"
    >
      Begin Scenario
    </button>
  </div>
</clr-modal>
