.status-finished {
  --clr-progress-default-color: var(--clr-color-danger-100);
}

.status-success {
  --clr-progress-default-color: var(--clr-color-success-100);
}

.progress {
  margin-bottom: 1rem;
}
