<div class="clr-row">
    <div class="clr-col-12">
        <div class="progress labeled success">
            <progress max="100" [value]="progress" data-displayval="0%"></progress>
            <span>{{progress}}%</span>
        </div>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ step.title }}</h4>
                <div class="card-text" [innerHTML]="text">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline btn-previous" (click)="goPrevious()" [class.disabled]="this.steps.indexOf(this.step.id) == 0">
                    <clr-icon shape="arrow" dir="left"></clr-icon> Previous
                </button>
                <button class="btn btn-outline btn-next" *ngIf="this.steps[this.steps.length-1] != this.step.id" (click)="goNext()">Next <clr-icon shape="arrow" dir="right"></clr-icon></button>
                <button class="btn btn-success btn-next" *ngIf="this.steps[this.steps.length-1] == this.step.id" (click)="goFinish()">Finish <clr-icon shape="check"></clr-icon></button>
            </div>
        </div>
    </div>
    <div class="clr-col-8">
        <clr-tabs class="terminals">
            <clr-tab>
                <button clrTabLink id="link1">
                    <clr-icon size="24" shape="host"></clr-icon> Instance 1
                </button>
                <clr-tab-content id="content1" #tab>
                    <i>Status: Connected</i>
                    <terminal #term></terminal>
                </clr-tab-content>
            </clr-tab>
            <clr-tab>
                <button clrTabLink id="link2">
                    <clr-icon size="24" shape="host"></clr-icon> Instance 2
                </button>
                <clr-tab-content id="content2" #tab>
                    <i>Status: Connected</i>
                    <terminal #term></terminal>
                </clr-tab-content>
            </clr-tab>
            <clr-tab>
                <button clrTabLink id="link3">
                    <clr-icon size="24" shape="host"></clr-icon> Instance 3
                </button>
                <clr-tab-content id="content3" #tab>
                    <i>Status: Connected</i>
                    <terminal #term></terminal>
                </clr-tab-content>
            </clr-tab>
        </clr-tabs>
    </div>
</div>