.btn-next {
  float: right;
  margin-right: 0;
}

.btn-pause {
  margin-right: 0;
}

.signpost-after {
  margin-right: 0.6rem;
  margin-right: var(--clr-btn-horizontal-margin, 0.6rem);
}

#terminal-column {
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

span.shell-status {
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
}

// clr-col-md
@media all and (max-width: 992px) {
  step-component #sidebar {
    height: calc(50%) !important;
    width: calc(100% - 10px);
    margin: 0;
  }
}

#step-navigator {
  width: 100%;
  display: flex;
  align-items: center;
  button {
    margin: 0;
  }
}
#step-counter {
  flex-grow: 2;
  text-align: center;
}

table {
  margin-top: 0;
}

.progress span {
  margin-top: -0.5em;
}
.progress {
  top: 0;
  margin-bottom: 1rem;
}

#sidebar {
  margin: 0px 0px 24px 0;
  height: 100%;
  display: flex;
  flex-flow: column;
}
#sidebar .card-header {
  padding-top: 0;
  flex: 0 1 auto;
}
#sidebar .card-block {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}
#sidebar .card-footer {
  flex: 0 1 40px;
}

.card-footer {
  position: relative;
}

#scenario-name {
  text-align: center;
  padding-bottom: 1rem;
}
.card-text {
  padding-bottom: 2rem;
}

.split-container {
  display: flex;
  height: 100%;
}

.split-area-1 {
  overflow-y: hidden !important;
  padding-right: 0.6rem;
}

.split-area-2 {
  overflow-y: hidden !important;
  padding-left: 0.6rem;
}

.modal-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  padding: 10px;
  text-align: center;
}

img:hover {
  cursor: zoom-out;
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
}

.as-hidden{
  opacity: 0;
}

.brawl-instructions{
  background-color: #01162a;
  color: white;
  padding: 0px 0px 24px 0;
  height: 100%;
  display: flex;
  flex-flow: column;
  font-family: monospace;
  img {
    max-width: 400px;
    margin-left: calc(50% - 200px);
  }

  .text {
    width: 100%;
    padding: 20px;
    p {
      color: white;
    }
    &.centered{
      text-align: center;
    }

    .brawl-color{
      color: #74e2cd;
    }
  }

  .brawl-language{
    color: #74e2cd;
    font-size: 20px;
    font-weight: bold;
  }

  .cta {
    font-size: 24px;
  }
}
