<div class="split-container">
  <as-split
    unit="percent"
    direction="horizontal"
    (dragEnd)="dragEnd()"
    #divider
  >
    <as-split-area
      [size]="40"
      class="split-area-1"
      [ngClass]="{ 'content-only': isContentOnly }"
    >
      @if (!isBrawlSelected) {
        <div class="card" id="sidebar">
          <div class="card-header">
            <h3 id="scenario-name" class="grid-container">
              <div></div>
              <div>{{ scenario.name | atob }}</div>
              @if (!!(verificationService.currentVerifications | async)?.size) {
                <app-task-modal [vms]="vms"></app-task-modal>
              }
            </h3>

            @if (!isContentOnly) {
              <button
                class="btn btn-next"
                [class.btn-success-outline]="!isLastStepActive"
                [class.btn-success]="isLastStepActive"
                (click)="goFinish()"
              >
                <cds-icon shape="check"></cds-icon>
                Finish
              </button>
            }

            @if (isPauseable()) {
              <button class="btn btn-pause" (click)="pause()">
                <cds-icon shape="pause" solid></cds-icon> Pause
              </button>
              <clr-signpost class="signpost-after" style="z-index: 100000">
                <clr-signpost-content [clrPosition]="'bottom-right'" *clrIfOpen>
                  Pausing your scenario prevents removal of your resources in
                  case of network disconnection, timeout, etc.
                </clr-signpost-content>
              </clr-signpost>
            }

            <button
              class="btn"
              [class.btn-outline]="!isLastStepActive"
              (click)="goClose()"
            >
              <cds-icon shape="window-close"></cds-icon>Close
            </button>
          </div>

          <div class="card-block" #contentdiv>
            <h4 class="card-title">
              {{ this.stepnumber + 1 }}. {{ step.title | atob }}
            </h4>
            <div class="card-text">
              <app-hf-markdown
                [content]="stepcontent"
                [context]="mdContext"
                (click)="handleStepContentClick($event)"
              ></app-hf-markdown>
              @if (step.quiz) {
                <div class="mt-3">
                  <quiz
                    #quizComponent
                    [quizId]="step.quiz"
                    [scenarioId]="scenario.id"
                    [scenarioName]="scenario.name | atob"
                    [courseName]="course.name | atob"
                  ></quiz>
                </div>
              }
            </div>
          </div>

          <div class="card-footer">
            <div class="progress">
              <!-- <div class="progress-meter" data-value="getProgress()"></div> -->
              <progress [value]="getProgress() || 0" max="100"></progress>
            </div>
            <div id="step-navigator">
              <button
                class="btn btn-outline btn-previous"
                (click)="goPrevious()"
                [disabled]="this.stepnumber < 1"
              >
                <cds-icon shape="arrow" direction="left"></cds-icon> Prev
              </button>
              <span id="step-counter">
                {{ this.stepnumber + 1 }}/{{ this.scenario.stepcount }}
              </span>
              @if (!isLastStepActive) {
                <button class="btn btn-next" (click)="goNext()">
                  Next <cds-icon shape="arrow" direction="right"></cds-icon>
                </button>
              } @else {
                <button class="btn btn-success btn-next" (click)="goFinish()">
                  <cds-icon shape="check"></cds-icon> Finish
                </button>
              }
            </div>
          </div>
        </div>
      } @else {
        <div class="brawl-instructions">
          <img src="/assets/bashbrawl/bashbrowl_text.png" />
          <div class="text centered">
            Test your command line skills<br />
            You have 60 seconds to enter commands from
          </div>
          <div class="text centered">
            @for (lang of getBrawlLanguages(); track lang; let i = $index) {
              <span class="brawl-language"
                >{{ lang | uppercase }}
                @if (i !== getBrawlLanguages().length - 1) {
                  <span> &middot; </span>
                }
              </span>
            }
          </div>
          <div class="text centered cta">
            Type <i class="brawl-language brawl-color">brawl</i> to enter the
            arena.
          </div>
        </div>
      }
    </as-split-area>
    <as-split-area [size]="60" class="split-area-2" [visible]="!isContentOnly">
      <div id="terminal-column">
        <clr-tabs class="tab-container">
          @for (v of vms | keyvalue; track v) {
            <clr-tab #tab>
              <button clrTabLink [id]="v.key">
                <cds-icon size="24" shape="host"></cds-icon> {{ v.key }}
              </button>
              <clr-tab-content #tabcontent>
                <table class="table compact">
                  <tr>
                    <td><b>Public IP:</b> {{ v.value.public_ip }}</td>
                    <td><b>Private IP:</b> {{ v.value.private_ip }}</td>
                    <td><b>Hostname:</b> {{ v.value.hostname }}</td>
                    <td><b>Shell Status:</b> {{ getShellStatus(v.key) }}</td>
                    <td style="padding: 0">
                      <button
                        class="btn btn-icon btn-primary btn-sm"
                        title="Reload Terminal"
                        (click)="reloadTerminal(v.key)"
                      >
                        <cds-icon shape="refresh"></cds-icon>
                      </button>
                    </td>
                  </tr>
                </table>
                @if (!isGuacamoleTerminal(v.value.protocol)) {
                  <app-terminal
                    [vmname]="v.key"
                    [vmid]="v.value.id"
                    [endpoint]="v.value.ws_endpoint"
                    #term
                  >
                  </app-terminal>
                } @else {
                  <app-guac-terminal
                    [vmname]="v.key"
                    [vmid]="v.value.id"
                    [endpoint]="v.value.ws_endpoint"
                    #guacterm
                  >
                  </app-guac-terminal>
                }
              </clr-tab-content>
            </clr-tab>
          }
          @for (v of vms | keyvalue; track v) {
            @for (
              webinterface of v.value.webinterfaces;
              track webinterface;
              let i = $index
            ) {
              @if (
                (webinterface.hasOwnTab && i < maxInterfaceTabs) ||
                webinterface.active
              ) {
                <clr-tab #tab>
                  <button
                    clrTabLink
                    [id]="v.key + webinterface.name"
                    [clrTabLinkInOverflow]="false"
                    (click)="setTabActive(webinterface, v.key)"
                  >
                    {{ v.key }} - {{ webinterface.name }}
                  </button>
                  <clr-tab-content>
                    <table class="table compact">
                      <tr>
                        <td><b>Webinterface:</b> {{ webinterface.name }}</td>
                        <td><b>Node:</b> {{ v.key }}</td>
                        <td><b>Port:</b> {{ webinterface.port }}</td>
                        <td><b>Path:</b> {{ webinterface.path }}</td>
                        <td style="padding: 0">
                          <button
                            class="btn btn-icon btn-primary btn-sm"
                            title="Reload Tab"
                            (click)="
                              reloadWebinterface(v.value.id, webinterface)
                            "
                          >
                            <cds-icon shape="refresh"></cds-icon>
                          </button>
                          <button
                            class="btn btn-icon btn-primary btn-sm"
                            title="Open in a new Tab"
                            (click)="
                              openWebinterfaceInNewTab(v.value, webinterface)
                            "
                          >
                            <cds-icon shape="pop-out"></cds-icon>
                          </button>
                        </td>
                      </tr>
                    </table>
                    @if (!isGuacamoleTerminal(v.value.protocol)) {
                      <app-ide-window
                        [vmid]="v.value.id"
                        [endpoint]="v.value.ws_endpoint"
                        [port]="webinterface.port"
                        [path]="webinterface.path"
                        [disallowIFrame]="webinterface.disallowIFrame"
                        (openWebinterfaceFn)="
                          openWebinterfaceInNewTab(v.value, webinterface)
                        "
                        [reloadEvent]="reloadTabObservable"
                      >
                      </app-ide-window>
                    }
                  </clr-tab-content>
                </clr-tab>
              } @else if (
                (!webinterface.hasOwnTab ||
                  (webinterface.hasOwnTab && i >= maxInterfaceTabs)) &&
                !webinterface.active
              ) {
                <clr-tab>
                  <button
                    clrTabLink
                    [clrTabLinkInOverflow]="true"
                    (click)="setTabActive(webinterface, v.key)"
                  >
                    {{ v.key }} - {{ webinterface.name }}
                  </button>
                </clr-tab>
              }
            }
          }
          @if (bashbrawl_active && !isContentOnly) {
            <clr-tab #tab>
              <button clrTabLink id="bashbrawl" [clrTabLinkInOverflow]="true">
                <cds-icon size="24" shape="terminal"></cds-icon> Arcade
              </button>
              <clr-tab-content #tabcontent>
                <table class="table compact">
                  <tr>
                    <td>
                      <b>BashBrawl</b>: type <i>brawl</i> to enter the arena.
                    </td>
                  </tr>
                </table>
                <app-bashbrawl-terminal #term> </app-bashbrawl-terminal>
              </clr-tab-content>
            </clr-tab>
          }
        </clr-tabs>
      </div>
    </as-split-area>
  </as-split>
</div>

<clr-modal [(clrModalOpen)]="closeOpen">
  <h3 class="modal-title">Are you sure you want to close this scenario?</h3>
  <div class="modal-body">
    <p>
      Closing a scenario will retain your existing resources. You may choose
      another scenario or return to this scenario.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="closeOpen = false">Cancel</button>
    <button class="btn btn-success-outline" (click)="actuallyClose()">
      Close Scenario
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="finishOpen">
  <h3 class="modal-title">Are you sure you want to finish?</h3>
  <div class="modal-body">
    @if (shouldKeepVmOnFinish && !isContentOnly) {
      <p>
        Your virtual machines will be kept until they expire or the course is
        marked as "complete". Selecting "FORCE" will immediately deprovision and
        delete your resources.
      </p>
    } @else {
      Selecting "FINISH" will immediately deprovision and delete your resources.
    }
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="finishOpen = false">Cancel</button>
    @if (shouldKeepVmOnFinish && !isContentOnly) {
      <div style="display: inline-block">
        <button class="btn btn-danger-outline" (click)="actuallyFinish(true)">
          Force
        </button>
      </div>
    }
    <button class="btn btn-next btn-success-outline" (click)="actuallyFinish()">
      Finish
    </button>
  </div>
</clr-modal>

<clr-modal #pausemodal [(clrModalOpen)]="pauseOpen" [clrModalClosable]="false">
  <h3 class="modal-title">Scenario Paused</h3>
  <div class="modal-body">
    <p>
      This scenario has been paused successfully. If you do not take any
      actions, the scenario will automatically resume in
      {{ pauseRemainingString }}.
    </p>
    <p>
      <span class="clr-subtext"
        >Last updated at {{ pauseLastUpdated | date: 'medium' }}</span
      >
    </p>
    <br />
  </div>
  <div class="modal-footer">
    <button class="btn" (click)="resume()">
      <cds-icon shape="play" solid></cds-icon> Resume Scenario
    </button>
  </div>
</clr-modal>

<clr-modal
  #sessionExpiredModal
  [(clrModalOpen)]="sessionExpired"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Your session has expired!</h3>
  <div class="modal-body">
    <p>Please return back to the home page.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="actuallyClose()">Ok</button>
  </div>
</clr-modal>
<clr-modal
  [(clrModalOpen)]="imgXlargeModal"
  [clrModalClosable]="false"
  (click)="imgXlargeModal = false"
  clrModalSize="xl"
>
  <div class="modal-body">
    <img src="{{ srcImgXlarge }}" alt="ImageMadeLarger" class="modal-image" />
  </div>
</clr-modal>

<clr-modal
  [(clrModalOpen)]="unsubmittedQuizModalOpen"
  [clrModalClosable]="false"
>
  <h3 class="modal-title">Quiz not submitted</h3>
  <div class="modal-body">
    <p>
      Do you really want to finish without submitting your quiz? Your quiz
      progress will not be saved.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline" (click)="cancelUnsubmittedQuizFinish()">
      Cancel
    </button>
    <button
      class="btn btn-success-outline"
      (click)="confirmUnsubmittedQuizFinish()"
    >
      Finish anyway
    </button>
  </div>
</clr-modal>
