code {
    background-color: rgba(0,0,0,0.1);
    padding: 3px;
    border-radius: 3px;
}

.btn-next {
    float: right;
}

.terminals {
    padding: 3px;
}

span.shell-status {
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
}