<div class="clr-row">
    <div class="clr-col-12">
        <div class="progress labeled success">
            <progress max="100" [value]="getProgress()" data-displayval="0%"></progress>
            <span>{{getProgress()}}%</span>
        </div>
    </div>
</div>
<div class="clr-row">
    <div class="clr-col-4">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">{{ step.title | atob }}</h4>
                <div class="card-text" [innerHTML]="step.content | atob">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-outline btn-previous" (click)="goPrevious()" [class.disabled]="this.stepnumber == 0">
                    <clr-icon shape="arrow" dir="left"></clr-icon> Previous
                </button>
                <button class="btn btn-outline btn-next" *ngIf="(this.scenario.stepcount-1) > this.stepnumber" (click)="goNext()">Next <clr-icon shape="arrow" dir="right"></clr-icon></button>
                <button class="btn btn-success btn-next" *ngIf="(this.scenario.stepcount-1) == this.stepnumber" (click)="goFinish()">Finish <clr-icon shape="check"></clr-icon></button>
            </div>
        </div>
    </div>
    <div class="clr-col-8">
        <clr-tabs class="terminals">
            <clr-tab>
                <button clrTabLink id="link1">
                    <clr-icon size="24" shape="host"></clr-icon> Instance 1
                </button>
                <clr-tab-content id="content1" #tab>
                    <i>Status: Connected</i>
                    <terminal [vmid]="'vm-mvmvmvmv'"></terminal>
                </clr-tab-content>
            </clr-tab>
        </clr-tabs>
    </div>
</div>