<tr *ngFor="let vm of vmclaim.vm | keyvalue">
  <td class="left">{{ vm.key }}</td>
  <td class="left">{{ vm.value.vm_id }}</td>
  <td class="left">{{ vm.value.template }}</td>
  <td>
    <cds-icon
      *ngIf="vmclaim?.ready"
      shape="check"
      status="success"
    ></cds-icon>
    <clr-spinner *ngIf="!vmclaim?.ready" [clrInline]="true"></clr-spinner>
    {{ getVm(vm.value.vm_id)?.status }}
  </td>
  <td>{{ getVm(vm.value.vm_id)?.public_ip }}</td>
  <td>{{ getVm(vm.value.vm_id)?.private_ip }}</td>
  <td>{{ getVm(vm.value.vm_id)?.hostname }}</td>
</tr>
