<div class="clr-row">
    <div class="clr-col-12">
        <h5>VM Set {{ vmclaim?.id }}</h5>
    </div>
    <div class="clr-col-12">
        <span *ngIf="!vmclaim?.ready">Status: Preparing <span class="spinner spinner-inline"></span></span>
        <span *ngIf="vmclaim?.ready">Status: Ready <clr-icon shape="check" class="is-success"></clr-icon></span>
    </div>
    <div class="clr-col-2" *ngFor="let vm of getVms()">
        <div class="card">
            <div class="card-header">
                {{ vm[0] }}
            </div>
            <div class="card-block">
                <div class="card-text">
                    <table class="table compact">
                        <tr>
                            <td>Status</td>
                            <td>NotReady</td>
                        </tr>
                        <tr>
                            <td>Private IP</td>
                            <td>10.10.10.10.</td>
                        </tr>
                        <tr>
                            <td>Public IP</td>
                            <td>1.2.3.4</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>