name: publish image

on:
  push:
    branches:
      - master
    paths:
      - 'package.json'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: check if version was bumped
      run: git diff HEAD~1 package.json | grep '"version":'

    - name: login to the registry
      run: echo ${{ secrets.REGISTRY_PASSWORD }} | docker login -u hobbyfarm --password-stdin

    - name: get the version
      id: vars
      run: "echo ::set-output name=tag::$(cat package.json | grep version | head -1 | awk -F: '{ print $2 }' | sed 's/[\", ]//g')"

    - name: build image
      run: docker build . -t hobbyfarm/ui:latest -t hobbyfarm/ui:${{steps.vars.outputs.tag}}
    - name: push image
      run: docker push hobbyfarm/ui:latest && docker push hobbyfarm/ui:${{steps.vars.outputs.tag}}
