name: publish image
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: build image
      run: docker build . -t ${{ github.repository }}
    - name: login to registry
      run: echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login -u "${{ secrets.REGISTRY_USER }}" --password-stdin
    - name: push image
      run: |
        for tag in latest $(git tag -l --points-at HEAD); do
          docker tag  ${{ github.repository }} ${{ github.repository }}:$tag
          docker push ${{ github.repository }}:$tag
        done

